body {
  font-family: "Montserrat";
}

h1 {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}

.container-fluid{
  padding: 3% 15%;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

/* Navbar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Download Buttons */

.download-btn {
  margin: 3% 5% 3% 0;
}

/* Landing page */

.iphone-img {
  transform: rotate(25deg);
  width: 60%;
}

/* Features */

.features-section {
  text-align: center;
  margin: 10rem auto 10rem auto;
}

.easy-button {
  font-size: 2.5rem;
  padding-bottom: .5rem;
}

.easy-button:hover {
  color: #ff4c68;
}

.easy-title {
  font-family: "Arial-Black";
  font-size: 1.5rem;
  padding-bottom: .5rem;
}

.easy-p {
  width: 50%;
  margin: auto;
}

.elite-button {
  font-size: 2.5rem;
  padding-bottom: .5rem;
}

.elite-button:hover {
  color: #ff4c68;
}

.elite-title {
  font-family: "Arial-Black";
  font-size: 1.5rem;
  padding-bottom: .5rem;
}

.elite-p {
  width: 58%;
  margin: auto;
}

.guaranteed-button {
  font-size: 2.5rem;
  padding-bottom: .5rem;
}

.guaranteed-button:hover {
  color: #ff4c68;
}

.guaranteed-title {
  font-family: "Arial-Black";
  font-size: 1.5rem;
  padding-bottom: .5rem;
}

.guaranteed-p {
  width: 70%;
  margin: auto;
}
